@model Restaurant.Models.Dish 
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h4>@Model.Name</h4>
    </div>

    <div class="d-flex justify-content-center">
        <img id="img_logo" alt="Logo" src="@Url.Content("https://thishealthytable.com/wp-content/uploads/2017/06/ThisMediterraneansummersaladisfullofbrightsummerflavors-scaled.jpeg")"
    </div>
    <div class="d-flex justify-content-center">
        @Model.Price.ToString("N2") Leva 
    </div>
    <div class="d-flex justify-content-center">
        Ingredients:
        <ul>
            @foreach(var item in Model.DishIngredients)
            {
                <li>
                    @item.Ingredient.Name
                    
                </li>

            }
        </ul>
    </div>
    <a class="btn btn-info" asp-action="Index">Back to the Menu</a>
</div>
