@model List<Restaurant.Models.Dish>
@{
    ViewData["Title"] = "MenuIndex";
}

<div class="container">
    <div class="row">
        @foreach(var item in Model)
        {
           <div class="col-6">
               <div class="d-flex justify-content-center">
                   <h4>@item.Name</h4>
               </div>     
           
               <div class="d-flex justify-content-center">
                    <img id="img_logo" alt="Logo" src="@Url.Content("https://dostavka.happy.bg/remote/files/images/200026/fit_640_400.png?rev=1693902169")" style="width: 30%" />
               </div>     
               <div class="d-flex justify-content-center">
                   @item.Price.ToString("N2") Leva
               </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">View Dish</a>
                </div>
           </div>
        }
    </div>
</div>
